In [3]:
# downloaded pyspark through terminal

In [4]:
import pyspark

In [31]:
# classic way of importing with pandas
import pandas as pd
df_original = pd.read_csv('test1.csv')

In [32]:
df_original

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [6]:
# need to create pyspark session

from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
spark

In [12]:
# read in a data set into spark 

df_pyspark = spark.read.csv('test1.csv')

In [14]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [25]:
# let's show the header names
df_pyspark = spark.read.option('header','true',).csv('test1.csv')

In [28]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [30]:
#let's check what type of variable df_pyspark is?
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [33]:
# what type is our original data frame?
type(df_original)

pandas.core.frame.DataFrame